<section class="catalog">
  <div class="search-recipe-list-wrap">
    <h2 class="visuallyhidden">Recipe catalog</h2>
    <label class="search-field">
      <span class="search-input-title">Search</span>
      <span class="search-input-wrap">
        <input type="text" name="word-search" class="search-input" placeholder="Enter Text" />
        <svg class="icon-search" width="18" height="18">
          <use href="./images/icons.svg#icon-search"></use>
        </svg>
      </span>
    </label>

    <div class="reset-wrap">
      <svg class="icon-reset" width="16" height="16">
        <use href="./images/icons.svg#icon-reset"></use>
      </svg>
      <span class="reset-text">Reset the filter</span>
    </div>

    <ul class="recipe-list"></ul>
  </div>
  <!-- ===============PAGINATION============ -->
  <!-- <ul class="pagination-list">
    <li class="pagination-item"><span class="last-left"><<</span></li>
    <li class="pagination-item"><span class="prelast-left"><</span></li>
    <li class="pagination-item">
      <span></span>
    </li>
    <li class="pagination-item">
      <button type="button" class="button-two pag-btn">2</button>
    </li>
    <li class="pagination-item">
      <button type="button" class="button-three pag-btn">3</button>
    </li>
    <li class="pagination-item">
      <button type="button" class="button-dots pag-btn">...</button>
    </li>
    <li class="pagination-item">
      <button type="button" class="prelast-right-button pag-btn active-btn">
        <svg class="icon-slider-right" width="24" height="24">
          <use href="./images/icons.svg#icon-slider-right"></use>
        </svg>
      </button>
    </li>
    <li class="pagination-item">
      <button type="button" class="last-right-button pag-btn active-btn">
        <svg class="icon-slider-right" width="24" height="24">
          <use href="./images/icons.svg#icon-slider-right-2"></use>
        </svg>
      </button>
    </li>
  </ul> -->
</section>

<section class="pagination container">
  <ul class="pagination-list">
    <!-- <li class="pag-item"><span class="last-left"><<</span></li>
    <li class="pag-item"><span class="prelast-left"><</span></li>
    <li class="numb pag-item active"><span>1</span></li>
    <li class="numb pag-item"><span>2</span></li>
    <li class="dots pag-item"><span>...</span></li>
    <li class="pag-item"><span class="prelast-right">></span></li>
    <li class="pag-item"><span class="past-right">>></span></li> -->
  </ul>
</section>
