
<div class="backdrop is-hidden">
  <section class="modal-window">
    <button type="button" data-modal-close class="modal-close-btn btn">
      <svg class="modai-close-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-criss-cross"></use>
      </svg>
    </button>
    <div class="backend-info">
      <h2>Modal window recipe</h2>
      <div class="video-recipe"></div>
      <div class="info-panel">
        <div class="tags">
          <ul class="tags-list">
  
          </ul>
        </div>
  <div class="rating">
  
  </div>
  <p class="time">
  
  </p>
      </div>
      <div class="ingredients">
        <ul class="ingredients-list">
  
        </ul>
      </div>
      <p class="instructions"></p>

    </div>
    
    <button type="button" class="favorite-btn btn">Add to favorite</button>
  </section>
</div>


