



<div class="custom-popup" id="recepie">
  <div class="custom-popup__content">
    <button type="button" class="popup__close js-popup-close">close</button>
    <!-- Тут код рецепта -->
    <div class="backend-info">
      <h2>Modal window recipe</h2>
      <div class="video-recipe"></div>
      <div class="info-panel">
        <div class="tags">
          <ul class="tags-list">
  <span class="tag-item"></span>
          </ul>
        </div>
  <div class="rating">
  
  </div>
  <p class="time">
  
  </p>
      </div>
      <div class="ingredients">
        <ul class="ingredients-list">
  
        </ul>
      </div>
      <p class="instructions"></p>
      <button type="button" class="favorite-btn btn">Add to favorite</button>
    </div>
    <!-- Тут код рецепта конец -->
  </div>
</div>


